<%= params[:role] ? (f.hidden_field :role, :value => params[:role]) : (f.hidden_field :role, :value => params[:user][:role]) %>
      <div class="account-login">
        <div class="page-title">
          <h2>Login or Create an Account</h2>
        </div>  
        <fieldset class="col4-set">
          <legend>Login or Create an Account</legend>
          
          <div class="col-2 registered-users"><strong>Fill up the form.</strong>
            <div class="content">
             
              <ul class="form-list">
                <li>
                  <label for="email">First Name <span class="required">*</span></label>
                  <br>
                  <%= f.text_field :first_name, :placeholder => "First Name", class: "input-text required-entry", id: "email" %>
                </li>

                <li>
                  <label for="email">Last Name <span class="required">*</span></label>
                  <br>
                  <%= f.text_field :last_name, :placeholder => "Last Name", class: "input-text required-entry", id: "email" %>
                </li>

                <li>
                  <label for="email">Email Address <span class="required">*</span></label>
                  <br>
                  <%= f.email_field :email, :placeholder => "E-mail", class: "input-text required-entry", id: "email" %>
                </li>


                <ul class="list-gender">           
                  <li><%= f.radio_button :gender, "Male" %>&nbsp;Male</li>
                  <li><%= f.radio_button :gender , "Female"%>&nbsp;Female</li>
                  <li><%= f.radio_button :gender ,"Rather not say"%>&nbsp;Rather not say</li>
                </ul> 

                <input type="checkbox" title="I agree to the Terms and Conditions" /> I agree to the <a class="link-blue" href="#" title="Terms and Conditions">Terms and Conditions</a>

                <li>
                  <label for="email">UserName <span class="required">*</span></label>
                  <br>
                  <%= f.text_field :username, :placeholder => "UserName", class: "input-text required-entry", id: "email" %>
                </li>

                <li>
                  <label for="pass">Password <span class="required">*</span></label>
                  <br>
                  <%= f.password_field :password, :placeholder => "Password", class: "input-text required-entry validate-password", id: "pass" %>
                </li>

                <li>
                  <label for="pass">Password <span class="required">*</span></label>
                  <br>
                  <%= f.password_field :password_confirmation, :placeholder => "Password Confirmation", class: "input-text required-entry validate-password", id: "pass" %>
                </li>
              </ul>
              <div class="buttons-set">
                <input class="button login" id="send2" type="submit" title="Sign" value="Sign Up" />
              </div>
              
          </div>
        </fieldset>
      </div>
      <br>
      <br>
      <br>
      <br>
      <br>
    </div>
 