<div class="page"> 
  <!-- breadcrumbs -->
  <div class="breadcrumbs">
    <div class="container">
      <div class="row">
        <% if params[:categories] %>
        <ul>
          <% @sub_categories.each do |sub_category| %>
            <li class="home"> <%= link_to sub_category.name, category_path(:sub_cats => sub_category.id) %><span>&mdash;›</span></li>
          <% end %>
        </ul>
        <% elsif params[:sub_cats] %>
        <ul>
        <% @sub_sub_categories.each do |sub_sub_category| %>
          <li class="home"> <%= link_to sub_sub_category.name, category_path(:child => sub_sub_category.id) %><span>&mdash;›</span></li>
        <% end %>
        </ul>
        <% end %>
      </div>
    </div>
  </div>
  <!-- End breadcrumbs --> 

  <!-- Two columns content -->
  <section class="main-container col2-left-layout">
    <div class="main container">
      <div class="row">
        <section class="col-main col-sm-9 col-sm-push-3 wow bounceInUp animated">
          <div class="category-title">
            <h1>Product Listing</h1>
          </div>
          
          <div class="category-products">
          <% if @products.present? %>
            <ul class="products-grid">
              <% for product in @products  %>
              <% if product.images.present? %>
              <li class="item col-lg-4 col-md-3 col-sm-4 col-xs-6">
                <div class="col-item">
  <div class="product-image-area">
  <% if product.images.present? %>
   <a class="product-image" title="Sample Product" href=<%= product_path(product)%>> 
  
            <%= image_tag(product.images.first.image.url(:original), :width => "#{100}", :height => "#{100}") %>
   </a>
   <% end %>
  </div>

  <div ><span class="add-to-links"> <a title="magik-btn-quickview" class="magik-btn-quickview" href=<%= product_path(product)%>><span>quickview</span></a></span> </div>

  <div class="info" style="position: relative;left: -80px;">
    <div class="info-inner">
      <div class="item-title"> <a title=" Sample Product" href=<%= product_path(product)%>> <%= product.title %> </a> </div>
      <!--item-title-->
      <div class="item-content">
        <div class="price-box">
          <p class="special-price"> <span class="price"> <%= number_to_currency(product.price) %> </span> </p>
        </div>
      </div>
      <!--item-content--> 
    </div>
    <!--info-inner-->
    <div class="actions">
      <%= link_to '<button type="button" title="Add to Cart" class="button btn-cart"><span>Add to Cart</span></button>'.html_safe, add_to_cart_product_path(product, :qty => 1)%>
    </div>
    <!--actions-->
    
    <div class="clearfix"> </div>
  </div>
</div>

              </li>
              <% end %>
              <% end %>
            </ul>
            <% else %>
              <span style="position: relative; color: red; text-align: center; font-size: 20px; left: 50px; top: 10px;">No Products</span>
            </div>
            <% end %>
        </section>

        <aside class="col-left sidebar col-sm-3 col-xs-12 col-sm-pull-9 wow bounceInUp animated">
          <div class="side-nav-categories">
            <div class="block-title"> Categories </div>
            <div class="box-content box-category">
              <ul id="magicat">
              <% Category.all.each do |category| %>
                <li class="level0- level0"> <span class="magicat-cat"><%= link_to category.name, category_path(:categories => category.id) %></span> </li>
                <% end %>
              </ul>
            </div>
          </div>
        </aside>
      </div>
    </div>
  </section>
</div>
