<div class="main-container col1-layout home-content-container">
    <div class="container">
      
      <section class="featured-pro wow bounceInUp animated">
        <div class="slider-items-products">
          <div class="new_title center">
            <h2>Featured Products</h2>
          </div>
          <div id="featured-slider" class="product-flexslider hidden-buttons">
            <div class="slider-items slider-width-col4"> 
              <% for product in @products  %>
              <!-- Item -->
              <div class="item">
                <div class="col-item">
                  <div class="product-image-area">
                   <a class="product-image" title="Sample Product" href=<%= product_path(product)%>> 
                    <%= image_tag(product.images.first.image.url(:original), :width => "269", :height => "265") %>
                   </a>
                  </div>

                  <div class="actions-links"><span class="add-to-links"> <a title="magik-btn-quickview" class="magik-btn-quickview" href=<%= product_path(product)%>><span>quickview</span></a></span> </div>

                  <div class="info">
                    <div class="info-inner">
                      <div class="item-title"> <a title=" Sample Product" href=<%= product_path(product)%>> <%= product.title %> </a> </div>
                      <!--item-title-->
                      <div class="item-content">
                        <div class="price-box">
                          <p class="special-price"> <span class="price"> <%= number_to_currency(product.price) %> </span> </p>
                        </div>
                      </div>
                      <!--item-content--> 
                    </div>
                    <!--info-inner-->
                    <div class="actions">
                      <%= link_to '<button type="button" title="Add to Cart" class="button btn-cart"><span>Add to Cart</span></button>'.html_safe, add_to_cart_product_path(product, :qty => 1)%>
                    </div>
                    <!--actions-->
                    
                    <div class="clearfix"> </div>
                  </div>
                </div>
              </div>
              <!-- End Item --> 
              <% end %>
            </div>
          </div>
        </div>
       </section>
      <div class="promo-banner-section wow bounceInDown animated">
        <div class="container">
          <div class="row"> <img alt="promo-banner3" src="/assets/dashboards/images/jewelry-banner.jpg"></div>
        </div>
      </div>
      
      <section class="recommend">
        <div class="recommend-product-slider small-pr-slider bounceInUp animated">
          <div class="slider-items-products">
            <div class="new_title center">
              <h2>Category</h2>
            </div>
            <div id="recommend-slider" class="product-flexslider hidden-buttons">
              <div class="slider-items slider-width-col3"> 
                <% Product.where("title is not null and status = 'confirmed'").group(:category_id).each do |product|  %>
                <!-- Item -->
                <div class="item">
                  <div class="col-item">
                    <div class="product-image-area"> 
                      <a class="product-image" title="Sample Product" href=<%= category_path(:categories => product.category_id) %>> 
                        <%= image_tag(product.images.first.image.url(:original), :width => "173", :height => "170") %>
                      </a>
                    </div>
                    
                    <div class="info">
                      <div class="info-inner">
                        <div class="item-title"> <a title=" Sample Product" href="product-detail.html"> <%= product.category.name %> </a> </div> 
                      </div>
                      <div class="clearfix"> </div>
                    </div>
                  </div>
                </div>
                <!-- End Item --> 
                <% end %>
              </div>
            </div>
          </div>
   
        </div>
      </section>
      
    </div>
  </div>