<div class="page">
  <!-- Breadcrumbs -->
  <!-- main-container -->
  <div class="main-container col2-right-layout">
    <div class="main container">
      <div class="row">
        <section class="col-main col-sm-12 wow bounceInUp animated">
          <div class="page-title">
            <h2>Services</h2>
          </div>

          <div class="static-contain">
          <%= form_tag new_blue_arc_order_path, :id => "service_form", :method => :get do %>
          <%= select_tag :price,options_for_select([["$50- 15 days support- for 1 computer","50"],["$80- 6 months support for 3 computers","80"],["$100- 1 year support- for 1 computer","100"],["$120- 1 year support for 3 computers","120"],["$150- 3 years support for 1 computer", "150"],["$170- 3 years support for 3 computers","170"],["$200- 5 years support for 1 computer","200"],["$220- 5 years support for 3 computers","220"],["$250- 8 years support for 1 computer ","250"],["$270- 8 years support for 3 computers","270"],["$300- 15 years support for 1 computer","300"],["$350- 15 years support for 3 computers","350"]]) %>
          <br /><br />

          <%= text_field_tag :blue_arc_code, '', :placeholder => "BlueArch Code", :style => 'position: relative; padding: 8px; width: 22%;' %>

          <p>Services offered : Remove junk file, speedup computer, unwanted file, manage the free space in computer, error checking, disk cleanup, certificate updation, startup problem, browser problem, antivirus, email problem, external pripheral (eg.:-pandrive,printer,router ,moderm, switch etc.)</p>

          <%= submit_tag "Buy", class: 'mini-cart', style: 'position: relative; height: 39px; text-align: center; width: 140px; color: white;' %>

          <%= link_to "Contract Form", "http://63.142.251.176/payments/new",:target =>'_blank', class: 'mini-cart', style: 'position: relative; height: 39px; text-align: center; width: 140px; color: white;float: right;padding: 10px;' %>

          <p style="position: relative; width: 75%; top: 30px; left: 150px;">BLUEARCH STORE is an individual company providing hardware and software support and is not related to any other companies like microsoft, dell, HP etc.</p>

                  </div>
                  <% end %>
                </section>

              </div>
            </div>
          </div>
          <!--End main-container -->

        </div>
        <script>
          $("#service_form").submit(function() {
             var textVal = $("#blue_arc_code").val();
           if(textVal != "bluearch@2016") {
               alert('Fill the correct BlueArch Code');
              return false;
            }
          });
        </script>
