<div class="page">
  <section class="main-container col1-layout">
    <div class="main container">
      <div class="account-login">
        <div class="page-title">
          <h2>Login or Create an Account</h2>
        </div>
        <fieldset class="col2-set">
          <legend>Login or Create an Account</legend>
          <div class="col-1 new-users"><strong>New Customers</strong>
            <div class="content">
              <p>By creating an account with our store, you will be able to move through the checkout process faster, store multiple shipping addresses, view and track your orders in your account and more.</p>
              <div class="buttons-set">
                <button onclick="window.location='http://demo.magentomagik.com/computerstore/customer/account/create/';" class="button create-account" type="button"><span>Create an Account</span></button>
              </div>
            </div>
          </div>
          <div class="col-2 registered-users"><strong>Registered Customers</strong>
            <div class="content">
              <p>If you have an account with us, please log in.</p>

              <% flash.each do |key, value| %>
                <div style="color: red;font-weight: bold;"><%= value %></div>
              <% end %>
              <br/>

              <%= form_for(resource, :as => resource_name, :url => session_path(resource_name)) do |f| %>
              <ul class="form-list">
                <li>
                  <label for="email">Email Address <span class="required">*</span></label>
                  <br>
                  <%= f.email_field :email, :placeholder => "E-mail", class: "input-text required-entry", id: "email" %>
                </li>
                <li>
                  <label for="pass">Password <span class="required">*</span></label>
                  <br>
                  <%= f.password_field :password, :placeholder => "Password", class: "input-text required-entry validate-password", id: "pass" %>
                </li>
              </ul>
              <div class="buttons-set">
                <input class="button login" id="send2" type="submit" title="Sign" value="Login" />

                <%= link_to "Forgot Your Password?", new_user_password_path, :class => "forgot-word" %>
            </div>
              <% end %>
          </div>
        </fieldset>
      </div>
      <br>
      <br>
      <br>
      <br>
      <br>
    </div>
  </section>
</div>