<header class="header-container">
  <div class="header-top">
    <div class="container">
      <div class="row">
        <!-- Header Language -->
        <div class="col-xs-6">


        </div>
        <div class="col-xs-6">

          <!-- Header Top Links -->
          <div class="toplinks">
            <div class="links">
              <div class="cart"><a title="Cart" href=<%= carts_path %>>Cart</a></div>
              <div class="myaccount">
              <% if current_user && current_user.role != 'admin' %>
                <div><%= link_to "Dashboards".html_safe, profile_profile_path(current_user) %></div>
              <% end %>

              <div class="login"><a title="Login" href=<%= new_user_path(:role => 'buyer') %>><span>Sign Up</span></a></div>
              <div class="check">
                <% if current_user %>
                  <%= link_to 'Logout'.html_safe, destroy_user_session_path, :method => "DELETE" %>
                <% else %>
                 <a title="Log In" href=<%= new_user_session_path %>>Log In</a>
                <% end %>
              </div>

            </div>
          </div>
          <!-- End Header Top Links -->
        </div>
      </div>
    </div>
  </div>
  <div class="header container">
    <div class="row">
      <div class="col-lg-2 col-sm-3 col-md-2">
        <!-- Header Logo -->
    <%= link_to root_path do %>
<%=  image_tag  "logo2.png", :style => "background-color: white; width: 175px; height: 80px;" %>
<% end %>

        <!-- End Header Logo -->
      </div>
      <div class="col-lg-8 col-sm-6 col-md-8">
        <!-- Search-col -->
        <div class="search-box">
        <%= form_tag search_products_path, :method => 'get', :html => {id: "search_mini_form"} do %>
          <%= text_field_tag :query, "", :title => "Search Items ", :placeholder => "Search Items ", :id => "search", :maxlength => '70' %>
          <button id="submit-button" class="search-btn-bg"><span>Search</span></button>
        <% end %>
        </div>
        <!-- End Search-col -->
      </div>
      <!-- Top Cart -->
      <div class="col-lg-2 col-sm-3 col-md-2">
        <div class="top-cart-contain">
          <div class="mini-cart">
            <div data-toggle="dropdown1" data-hover="dropdown1" class="basket dropdown-toggle1">
              <a href="/carts"> <i class="glyphicon glyphicon-shopping-cart"></i>
              <div class="cart-box"><span class="title">cart</span><span id="cart-total"><%= current_cart.line_items.present? ? current_cart.line_items.count : 0 %> </span></div>
              </a>
            </div>

            <!-- <div>
              <div style="display: none;" class="top-cart-content arrow_box">
                <div class="block-subtitle">Recently added item(s)</div>
                <ul id="cart-sidebar" class="mini-products-list">
                  <li class="item even"> <a class="product-image" href="#" title="Downloadable Product "><img alt="Downloadable Product " src="/assets/dashboards/products-images/p3.jpg" width="80"></a>
                    <div class="detail-item">
                      <div class="product-details"> <a href="#" title="Remove This Item" onClick="" class="glyphicon glyphicon-remove">&nbsp;</a> <a class="glyphicon glyphicon-pencil" title="Edit item" href="#">&nbsp;</a>
                        <p class="product-name"> <a href="#" title="Downloadable Product">Downloadable Product </a> </p>
                      </div>
                      <div class="product-details-bottom"> <span class="price">$100.00</span> <span class="title-desc">Qty:</span> <strong>1</strong> </div>
                    </div>
                  </li>
                  <li class="item last odd"> <a class="product-image" href="#" title="  Sample Product "><img alt="  Sample Product " src="/assets/dashboards/products-images/p2.jpg" width="80"></a>
                    <div class="detail-item">
                      <div class="product-details"> <a href="#" title="Remove This Item" onClick="" class="glyphicon glyphicon-remove">&nbsp;</a> <a class="glyphicon glyphicon-pencil" title="Edit item" href="#">&nbsp;</a>
                        <p class="product-name"> <a href="#" title="  Sample Product "> Sample Product </a> </p>
                      </div>
                      <div class="product-details-bottom"> <span class="price">$320.00</span> <span class="title-desc">Qty:</span> <strong>2</strong> </div>
                    </div>
                  </li>
                </ul>
                <div class="top-subtotal">Subtotal: <span class="price">$420.00</span></div>
                <div class="actions">
                  <button class="btn-checkout" type="button"><span>Checkout</span></button>
                  <button class="view-cart" type="button"><span>View Cart</span></button>
                </div>
              </div>
            </div> -->
          </div>
          <div id="ajaxconfig_info" style="display:none"> <a href="#/"></a>
            <input value="" type="hidden">
            <input id="enable_module" value="1" type="hidden">
            <input class="effect_to_cart" value="1" type="hidden">
            <input class="title_shopping_cart" value="Go to shopping cart" type="hidden">
          </div>
        </div>
      </div>
      <!-- End Top Cart -->
    </div>
  </div>
</header>
<!-- end header -->
