 <section class="main-container col1-layout">
    <div class="main container">
      <div class="col-main">
        <div class="row">
          <div class="product-view">
            <div class="product-essential">
                <input name="form_key" value="6UbXroakyQlbfQzK" type="hidden">
                <div class="product-img-box col-sm-5 wow bounceInRight animated">
                  <div class="product-image">
                    <div class="large-image">
                     <a href=<%= @product.images.first.image.url(:original) %> class="cloud-zoom" id="zoom1" rel="useWrapper: false, adjustY:0, adjustX:20"> 
                     <%= image_tag(@product.images.first.image.url(:original)) %>
                    </a> 
                    </div>

                    <div class="flexslider flexslider-thumb">
                      <ul class="previews-list slides">
                      <% if !@product.images.empty? %>
                        <% for image in @product.images %>
                        <li>
                          <a href=<%= image.image.url(:original) %> class='cloud-zoom-gallery' rel="useZoom: 'zoom1', smallImage: '<%= image.image.url %>' ">
                          <%= image_tag(image.image.url(:original)) %>
                          </a>
                        </li>
                        <% end %>
                      <% end %>
                      </ul>
                    </div>
                  </div>
                  
                  <!-- end: more-images -->
                  
                  <div class="clear"></div>
                </div>
                <div class="product-shop col-sm-7 wow bounceInLeft animated">
                  <div class="product-next-prev"> <a class="product-next" href="#"><span></span></a> <a class="product-prev" href="#"><span></span></a> </div>
                  <div class="product-name">
                    <h1><%= @product.title %></h1>
                  </div>
                 
                <!--   <p class="availability in-stock"><span>In Stock</span></p> -->
                  <div class="price-block">
                    <div class="price-box">
                
                      <p class="special-price"> <span class="price-label">Special Price</span> <span class="price"> <%= number_to_currency(@product.price) %> </span> </p>
                    </div>
                  </div>
                  <div class="short-description">
                    <h2>Quick Overview</h2>
                    <p><%= @product.description %></p>
                  </div>

              <%= form_tag add_to_cart_product_path(@product), :method => 'get' do %>
                  <div class="add-to-box">
                    <div class="add-to-cart">
                      <label for="qty">Quantity:</label>
                      <div class="pull-left">
                        <div class="custom pull-left">
                        <%= text_field_tag :qty, "1", class: "input-text qty", maxlength: "12", id: "qty" %>
                          <button onClick="var result = document.getElementById('qty'); var qty = result.value; if( !isNaN( qty )) result.value++;return false;" class="increase items-count" type="button"><i class="icon-plus">&nbsp;</i></button>
                          <button onClick="var result = document.getElementById('qty'); var qty = result.value; if( !isNaN( qty ) &amp;&amp; qty &gt; 0 ) result.value--;return false;" class="reduced items-count" type="button"><i class="icon-minus">&nbsp;</i></button>
                        </div>
                      </div>
                      <div class="pull-left">
                        <% unless (current_user and current_user.role == 'seller') %>
                          <button class="button btn-cart" title="Add to Cart" type="submit"><span><i class="icon-basket"></i> Add to Cart</span></button>
                        <% end %>
                      </div>
                    </div>      
                  </div>
                <%end%>
                </div>
              
            </div>
            <div class="product-collateral">
              <div class="col-sm-12 wow bounceInUp animated">
                <ul id="product-detail-tab" class="nav nav-tabs product-tabs">
                  <li class="active"> <a href="#product_tabs_description" data-toggle="tab"> Product Description </a> </li>
                               </ul>
                <div id="productTabContent" class="tab-content">
                  <div class="tab-pane fade in active" id="product_tabs_description">
                    <div class="std">
                      <p><%= @product.description %></p> 
                    </div>
                  </div>
              </div>
              <div class="col-sm-12">
                <div class="box-additional">
                  <div class="related-pro wow bounceInUp animated">
                    
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>