<!DOCTYPE html>
<html lang="en" xml:lang="en">

<!-- Mirrored from htmldemo.magikcommerce.com/ecommerce/eclipse-html-template/index-2.html by HTTrack Website Copier/3.x [XR&CO'2014], Thu, 09 Apr 2015 11:40:44 GMT -->
<!-- Added by HTTrack --><meta http-equiv="content-type" content="text/html;charset=UTF-8" /><!-- /Added by HTTrack -->
<head>
<meta charset="utf-8">
<title>BlueArcStore</title>

<!-- Favicons Icon -->
<link rel="icon" href="" type="image/x-icon" />
<link rel="shortcut icon" href="" type="image/x-icon" />

<!-- Mobile Specific -->
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

<!-- CSS Style -->
<%= stylesheet_link_tag "css/animate.css", "css/bootstrap.min.css", "css/style.css", "css/nivo-slider-css/nivo-slider.css", "css/owl.carousel.css", "css/owl.theme.css", "css/font-awesome.css" %>

<!-- Google Fonts -->
<link href='https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,300,700,800,400,600' rel='stylesheet' type='text/css'>
</head>

<body>
<div class="page">
  <%= render 'layouts/home/header' %>
  <%= render 'layouts/home/menu_nav' %>
  <!-- end nav -->
  
  <%= yield %>
  
  <%= render 'layouts/home/footer' %>

  <!-- End Footer --> 
</div>

<!-- JavaScript -->
<script type="text/javascript" src="/assets/js/jquery.min.js"></script>
<script type="text/javascript" src="/assets/js/bootstrap.min.js"></script>
<script type="text/javascript" src="/assets/js/parallax.js"></script>
<script type="text/javascript" src="/assets/js/common.js"></script>
<script type="text/javascript" src="/assets/js/revslider.js"></script>
<script type="text/javascript" src="/assets/js/nivo-slider-js/jquery.nivo.slider.js"></script>
<script type="text/javascript" src="/assets/js/owl.carousel.min.js"></script>
   <script type="text/javascript">
    $(window).load(function() {
        $('#slider').nivoSlider();
    });
    </script>
</body>

<!-- Mirrored from htmldemo.magikcommerce.com/ecommerce/eclipse-html-template/index-2.html by HTTrack Website Copier/3.x [XR&CO'2014], Thu, 09 Apr 2015 11:40:54 GMT -->
</html>